.main-container {
  background-color: $orange;
  height: 100%;
  width: 100%;
}

.experiments {
  color: $black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  a {
    color: $black;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .experiments-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;

    li {
      margin-bottom: 25px;
    }
  }

  .main-header {
    font-size: 7.2rem;
    font-weight: 300;
    margin-bottom: 200px;
  }

  @include susy-breakpoint($desktop) {
    float: left;
    height: 100%;
    width: 13%;
  }
}

.story {
  background-color: $grey;

  @include susy-breakpoint($desktop) {
    float: left;
    height: 100%;
    width: 13%;
  }
}

.connect {
  background-color: $blue;

  @include susy-breakpoint($desktop) {
    float: left;
    height: 100%;
    width: 13%;
  }
}

.penguin {
  background-color: $black;

  .nav {
    color: $grey;
  }

  &.active ~ .main {
    width: 19%;
  }

  @include susy-breakpoint($desktop) {
    float: right;
    height: 100%;
    width: 19%;
  }
}

.active {
  width: 55%;
}

.section {
  align-items: center;
  display: flex;
  font-size: 2.4rem;
  padding: 0 40px;
  position: relative;
  transition: all .15s ease;
}

.active {
  .content {
    opacity: 1;
    transition: opacity .2s ease .15s;
  }

  .nav {
    display: none;
  }
}

.content {
  opacity: 0;
}

.nav {
  color: $black;
  cursor: pointer;
  bottom: 30px;
  display: block;
  font-size: 2rem;
  font-weight: 600;
  left: 0;
  position: absolute;
  margin: auto;
  right: 0;
  text-align: center;
}
