.main-container {
  background-color: $orange;
  width: 100%;

  @include susy-breakpoint($tablet) {
    height: 100%;
  }
}

.experiments {
  color: $black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  a {
    color: $black;
    border: 1px solid $black;
    border-radius: 4px;
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding: 8px 20px;
    text-transform: uppercase;

    @include susy-breakpoint($tablet) {
      font-size: 3rem;
      border: none;
      padding: 0;
    }
  }

  .experiments-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;

    li {
      margin-bottom: 25px;
    }
  }

  .main-header {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 100px;

    @include susy-breakpoint($mobile) {
      font-size: 5rem;
      margin-bottom: 100px;
    }

    @include susy-breakpoint($tablet) {
      font-size: 7.2rem;
      margin-bottom: 100px;
    }
  }

  .nav {
    display: none;
  }

  @include susy-breakpoint($tablet) {
    float: left;
    height: 100%;
    width: 13%;

    .nav {
      display: block;
    }
  }

}

.story {
  background-color: $grey;

  @include susy-breakpoint($tablet) {
    float: left;
    height: 100%;
    width: 13%;
  }
}

.connect {
  background-color: $blue;

  .content {
    text-align: center;
  }

  @include susy-breakpoint($tablet) {
    text-align: left;
    float: left;
    height: 100%;
    width: 13%;
  }
}

.penguin {
  background-color: $black;

  .content {
    text-align: center;
  }

  .nav {
    color: $grey;
  }

  @include susy-breakpoint($tablet) {
    float: right;
    height: 100%;
    text-align: center;
    width: 19%;

    &.active ~ .main {
      width: 19%;
    }
  }
}

.active {

  @include susy-breakpoint($tablet) {
    width: 55%;
  }
}

.section {
  font-size: 2.4rem;
  padding: 20px 40px 40px;
  transition: all .15s ease;

  @include susy-breakpoint($tablet) {
    align-items: center;
    display: flex;
    padding: 0 6%;
    position: relative;
  }
}

.active {
  .content {

    @include susy-breakpoint($tablet) {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s, opacity .2s ease .15s;
    }
  }

  @include susy-breakpoint($tablet) {
    .nav {
      display: none;
    }
  }
}

.content {
  
  @include susy-breakpoint($tablet) {
    opacity: 0;
    visibility: hidden;
  }
}

.nav {
  color: $black;
  display: block;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;

  @include susy-breakpoint($tablet) {
    cursor: pointer;
    bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
    left: 0;
    position: absolute;
    margin: auto;
    right: 0;
  }
}
