.main {
  height: 100%;
}

.project {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  transition: all .5s cubic-bezier(.13,.95,.58,1);
}

.crooked {
  background-color: $base;
  background-image: radial-gradient(circle, lighten($base, 10%), $base);
}

.presidential {
  background-color: $accent;
  background-image: radial-gradient(circle, lighten($accent, 10%), $accent);
}
.birthday {
  background-color: $base-light;
  background-image: radial-gradient(circle, lighten($base-light, 10%), $base-light);
}

.shotrandomizer {
  background-color: $comp;
  background-image: radial-gradient(circle, lighten($comp, 10%), $comp);
}

.hide {
  transform: translateX(100%);
}

.back {
  transform: scale(.95);
}

.show {
  transform: translateX(0);
}

.close {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 100;
}

.project-heading {
  color: #fff;
  font-family: $heading-font-family;
  font-size: 20rem;
  font-weight: 300;
  margin: 0;
  padding-top: 0;
  line-height: 1em;
  position: relative;
  text-align: center;
  text-shadow: $text-shadow;
  text-transform: uppercase;
  // transform: translateY(-65px);
}
